@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.lists {
  margin-top: -150px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

a {
  text-decoration: none; 
}

.borderError {
  border-color: rgba(255, 0, 0, 0.61) !important;
}

.error {
  color: red !important;
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  margin-top: 0.5rem !important;
}

.mb-20 {
  margin-bottom: 20px;
}

button:disabled {
  filter: opacity(.7) !important;
}