.movieRow {
    margin-bottom: 30px;
    overflow-x: hidden;
}

.movieRow h2 {
    margin: 0 0 10px 60px;
}

.movieRow-listArea {
    /*  position: relative;*/
    padding-left: 60px;
}

.movieRow-list {
    transition: all ease .2s;
    height: 187.5px;
    overflow: hidden;
}

.movieRow-left,
.movieRow-right {
    position: absolute;
    width: 60px;
    height: 180px;
    background-color: rgba(0, 0, 0, .6);
    z-index: 99;
    display: flex;
    align-items: center;
    /* overflow: hidden;*/
    cursor: pointer;
    opacity: 0;
    transition: all ease .5s;
}

.movieRow-left {
    left: 0;
}

.movieRow-right {
    right: 0;
}

.movieRow:hover .movieRow-left,
.movieRow:hover .movieRow-right {
    opacity: 1;
}

@media (max-width: 760px) {

    .movieRow-left,
    .movieRow-right {
        opacity: 1;
    }
}